<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %(REQUEST_URI) !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>

AddHandler application/x-httpd-php83 .php
## ONEPANEL Force HTTPS by SSL installation
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"
## ONEPANEL Force HTTPS by SSL installation end
